{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <div class="search">
    <form action="/products/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    </div>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
    <div class="card-body">
      {% if product.image %}
          <img class="product_image" src="/media/{{ product.image }}" alt="">
      {% else %}
          <img class="product_image" src="https://user-images.githubusercontent.com/43302778/106805462-7a908400-6645-11eb-958f-cd72b74a17b3.jpg" alt="">
      {% endif %}
      <h5 class="card-title">{{product.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.price}} {{ product.currency }}</h6>
      <p class="card-text">{{product.rate }}</p>
      <a href="/products/{{ product.id }}" class="card-link">More info</a>
  </div>
</div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in max_page %}
            <a href="/products/?page={{ page }}">
            <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}